# Ktuyaconf
config PLATFORM_CHOICE
    string
    default "Ubuntu"

config PLATFORM_UBUNTU
    bool
    default y
    select ENABLE_QRCODE

config OPERATING_SYSTEM
    int 
    default 100
    ---help---
        100     /* LINUX */
        98      /* RTOS */
        3       /* Non-OS */

# Audio codec configuration for Ubuntu platform
config AUDIO_CODEC_NAME
    string "Audio codec device name"
    default "alsa_audio"
    ---help---
        Name of the audio codec device. This name is used to identify
        the audio device when calling tdl_audio_find().

config ENABLE_KEYBOARD_INPUT
    bool "Enable keyboard input for Ubuntu"
    default y
    ---help---
        Enable keyboard input handling for Ubuntu platform.
        Allows using keyboard keys to control the application:
        - 'S' key: Start/stop conversation
        - 'V' key: Volume up
        - 'D' key: Volume down
        - 'Q' key: Quit application

config BUTTON_NAME
    string "Button device name"
    default "button"
    ---help---
        Name of the button device (keyboard on Ubuntu).

config LED_NAME
    string "LED device name"  
    default "led"
    ---help---
        Name of the LED device (placeholder for Ubuntu).

rsource "./TKL_Kconfig"
rsource "./OS_SERVICE_Kconfig"